body
{
background-color: #cf7b00;  
}
h1
{
font-family: 'Vampire One', Roboto, serif;
border: 2px solid black;
padding: 10px;
text-align: center;
}
p
{
font-family: 'Vampire One', Roboto, serif;
font-size: 32px; 
text-align: center;
}
