body
{
background-color: #00b96a;
}
h1
{
font-family: 'Vampire One', sans-serif;
border: 2px solid black;
padding: 10px;
text-align: center;
}
p
{
font-family: 'Vampire One', sans-serif;
font-size: 32px; 
text-align: center;
}
hr {
  border: none;            /* remove default border */
  height: 10px;             /* thickness of the line */
  background-color: #000000; /* your chosen color (black example) */
  width: 100%;              /* how wide the line is */
  margin: 20px auto;       /* vertical spacing and center horizontally */
  border-radius: 3px;      /* optional: rounded edges */
}
